/op-charmander/target/
/.idea/
/todo.txt
/temp-concept.png
/test.py
/Data/temp
/OperationCharmander/target/
/OperationCharmander/.classpath
/OperationCharmander/.settings/
/OperationCharmander/.project
